

:root{
    --main-color1: white;
    --main-color2: rgb(236, 233, 233);
    --side-color1: rgb(6, 111, 231);
    --side-color2: orange;
    --font-color1: black;
    --font-color2: rgb(80, 80, 80);
    --font-color3: white;
    --font-size-small: 18px;
    --font-size-smally: 16px;
    --font-size-smaller: 14px;
    --font-size-smallest: 12px;
    --font-size-medium: 24px;
    --font-size-large: 32px;
    --main-font: 'Roboto', sans-serif;
}

body,
html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
}

.container {
    font-family: var(--main-font);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    background-color: var(--main-color1);
}

.header{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--main-color1);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.header>.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.search-bar>.search-icon{
    height: 25px;
    width: 25px;
}

.search-bar>input{
    height: 30px;
    width: 60%;
    background-color: var(--main-color2);
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    font-size: var(--font-size-small);
}

.search-bar>.user{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-bar>.user>.notification-icon{
    height: 30px;
    width: 30px;
}

.search-bar>.user>p{
    font-size: var(--font-size-medium);
    width: 50%;
    font-weight: bolder;
}

.search-bar>.user>.user-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header>.user-profile{
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    gap: 20px;
    padding-left: 35px;
}

.user-profile>.user-img-large{
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.user-profile>.user-info {
    width: 80%;
}

.user-info>p{
    font-size: var(--font-size-small);
    margin: 15px;
}

.user-info>.username{
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.header>.actions{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2 / 3;
}

.actions>button{
    height: 40px;
    width: 100px;
    background-color: var(--side-color1);
    border: none;
    border-radius: 25px;
    font-size: var(--font-size-small);
    font-weight: bold;
    cursor: pointer;
    color: var(--font-color3);
}

.sidebar{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--side-color1);
    grid-template-rows: 1fr 9fr;
    margin: 0px;
}

.sidebar>.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 1 / 2;
}

.sidebar>.icon>.logo-img{
    height: 50px;
    width: 50px;
    filter: invert(1);
}

.sidebar>.icon>p{
    color: var(--font-color3);
    font-size: var(--font-size-large);
    font-weight: bold;
    width: 200px;
}

.sidebar>.menu{
    display: grid;
    grid-row: 2 / 3;
    grid-auto-rows: 50px;
    margin: 0px;
    color: var(--font-color3);
    list-style: none;
    font-size: var(--font-size-medium);
}

.sidebar>.menu>li{
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    cursor: pointer;
}

.menu>li>.img{
    height: 30px;
    width: 30px;
    filter: invert(1);
}

.main-content{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-color2);
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    min-height: 0;
}

.main-content>.projects{
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 25px;
    overflow-y: auto;
}

.main-content p{
    font-size: var(--font-size-medium);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    height: 100%;
}

.card{
    border-radius: 12px;
    display: grid;
    grid-template-columns: 8px 1fr;
    background-color: var(--main-color1);
    overflow: hidden;
}

.card>.line{
    grid-column: 1 / 2;
    background-color: var(--side-color2);
}

.card>.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
}

.card-content>.card-title{
    font-size: var(--font-size-small);
    font-weight: bold;
}

.card-content>.card-description{
    font-size: var(--font-size-smally);
    color: var(--font-color2);
}

.card-footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.card-img{
    height: 30px;
    width: 30px;
}

.main-content>.announcements{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 25px;
    
}

.announcement-container {
    display: grid;
    grid-auto-rows: 1fr;
    /* height: 100%;
    width: 100%; */
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.an-card {
    position: relative;

    display: flex;
    flex-direction: column;
    background-color: var(--main-color1);
    padding: 20px;
    gap: 10px;
}

.an-card:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.an-card:last-child {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.an-title{
    font-size: var(--font-size-smally);
    font-weight: bold;
    text-align: left;
}

.an-content{
    font-size: var(--font-size-smaller);
    color: var(--font-color2);
    text-align: left;
}

.an-card:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    
    left: 20px;
    right: 20px;

    height: 1px;
    background-color: var(--main-color2);
}

.main-content>.trending{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 25px;
}

.trending-container {
    display: grid;
    grid-auto-rows: 1fr;
    overflow-y: auto;
}

.tr-card {
    padding: 15px 35px;
    display: flex;
    background-color: var(--main-color1);
    gap: 25px;
}

.tr-card:first-child {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.tr-card:last-child {
    border-bottom: none;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tr-img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.tr-content{
    font-size: var(--font-size-small);
}

.tr-author{
    color: var(--font-color1);
}

.tr-title{
    color: var(--font-color2);
}

.card,
.an-card,
.tr-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.actions .user-profile{
    position: relative;
}

.actions::after .user-profile::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;

    height: 4px;
    box-shadow: 0 20px 12px rgba(0, 0, 0, 15);
    pointer-events: none;
}