:root , body, html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.header{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightgray;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.header>.search-bar{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: orange;
}

.header>.user-profile{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: purple;
}

.header>.actions{
    grid-column: 2/3;
    grid-row: 2 / 3;
    background-color: green;
}

.sidebar{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: blue;
    grid-template-rows: 1fr 9fr;
    margin: 0px;
}

.sidebar>.icon{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-row: 1 / 2;
    background-color: red;
}

.sidebar>.icon>.logo-img{
    height: 50px;
    width: 50px;
    background-color: black;
}

.sidebar>.icon>p{
    color: white;
    font-size: 32px;
    font-weight: bold;
    width: 200px;
}

.sidebar>.menu{
    display: grid;
    grid-row: 2 / 3;
    background-color: cyan;
    grid-auto-rows: 50px;
    margin: 0px;
}

.main-content{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: wheat;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;

}

.main-content>.projects{
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightgreen;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    padding: 25px;
    height: 100%;
}

.card{
    background-color: white;
}

.main-content>.announcements{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: lightblue;
}

.announcement-container {
    display: grid;
    grid-auto-rows: 1fr;
    padding: 10px;
    height: 100%;
}

.an-card {
    background-color: white;
}

.main-content>.trending{
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightpink;
}

.trending-container {
    display: grid;
    grid-auto-rows: 1fr;
    padding: 10px;
    height: 100%;
}

.tr-card {
    background-color: white;
}